<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Require and AMD dependencies -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui.css" media="all">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-datepicker.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui-experimental.css" media="all">
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-experimental.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-soy.js"></script>

      <!-- Default theme -->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github-gist.min.css">

      <link rel="stylesheet" type="text/css" href="/static/css/all.css">
      <script src="/static/js/app/bitbucket-snippet-code-macro.js" type="text/javascript"></script>
      <script type="text/javascript">require(['app/bitbucket-snippet-code-macro']);</script>

      {{=<% %>=}}
      <script id="bitbucket-snippet-files" type="x-tmpl-mustache">
         {{#files}}
         <div class="file">
            <div class="header"><a target="_top" href="{{{htmlHref}}}">{{filename}}</a></div>
            <div class="content"><pre><code>{{contents}}</code></pre></div>
         </div>
         {{/files}}
      </script>
      <%={{ }}=%>

      <meta name="snippet-url" content="{{{snippetUrl}}}" />
   </head>
   <body class="bitbucket-snippet-code-macro">
      <section id="content" class="ac-content">
      </section>
   </body>
</html>
