<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Require and AMD dependencies -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui.css" media="all">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-datepicker.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui-experimental.css" media="all">
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-experimental.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-soy.js"></script>

      <link rel="stylesheet" type="text/css" href="/static/css/all.css">
      <script src="/static/js/app/gist-code-macro.js" type="text/javascript"></script>
      <script type="text/javascript">require(['app/gist-code-macro']);</script>
   </head>
   <body class="gist-code-macro">
      <section id="content" class="ac-content">
         <script type="text/javascript" src="{{{gistUrl}}}"></script>
      </section>
   </body>
</html>
