<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Require and AMD dependencies -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui.css" media="all">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-datepicker.js"></script>
      <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui-experimental.css" media="all">
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-experimental.js"></script>
      <script src="//aui-cdn.atlassian.com/aui-adg/5.9.4/js/aui-soy.js"></script>

      <link type="text/css" rel="stylesheet" title="Default" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
      {{#avaliableStyles}}
      <link type="text/css" rel="alternate stylesheet" title="{{theme}}" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/{{theme}}.min.css">
      {{/avaliableStyles}}

      <link rel="stylesheet" type="text/css" href="/static/css/all.css">
      <script src="/static/js/app/paste-code-macro.js" type="text/javascript"></script>
      <script type="text/javascript">require(['app/paste-code-macro']);</script>

      {{=<% %>=}}
      <script id="property-panel" type="x-tmpl-mustache">
         <div class="panel panel-default property" data-property-key="{{key}}">
            <div class="panel-heading">
               <button class="aui-button delete-button"><span class="aui-icon aui-icon-small aui-iconfont-delete"></span></button>
               <h3 class="panel-title">{{key}}</h3>
            </div>
            <div class="panel-body">
               <div class="editor"></div>
            </div>
            <div class="status hidden"></div>
         </div>
      </script>
      <%={{ }}=%>
   </head>
   <body class="paste-code-macro">
      <section id="content" class="ac-content">
         <button id="copy-to-clipboard" class="aui-button aui-button-subtle" data-clipboard-target="#code-preview" title="Copied!"><span class="aui-icon aui-icon-small aui-iconfont-copy-clipboard ">Copy </span> Copy to clipboard</button>
         <pre><code id="code-preview"></code></pre>
      </section>
   </body>
</html>
