@border: 3px;

body.paste-code-macro {
   background-color: white;

   .ac-content {
      -webkit-border-radius: @border;
      -moz-border-radius: @border;
      border-radius: @border;
      border: 1px solid @aui-color-gray;

      pre {
         margin: 5px;

         code {
            padding: 10px;
         }
      }
   }
}
