@border: 3px;

body.paste-code-macro {
   background-color: white;

   .ac-content {
      -webkit-border-radius: @border;
      -moz-border-radius: @border;
      border-radius: @border;
      border: 1px solid @aui-color-gray;

      position: relative;

      #copy-to-clipboard {
         position: absolute;
         right: 10px;
         top: 10px;
      }

      pre {
         margin: 5px;

         code {
            padding: 10px;
         }
      }
   }
}
